
.main {
  background-color: #fff;
  margin: 0 auto;
  width: 80%;
  border: solid 6px #dcdcdc;
}
#Logo {
    height: 121px;
}
#LogoContainer {
    color: white;
font-size: 40px;
font-style: inherit;
}
.leftMenu {
   
  border: solid;
  position: absolute;
  width: 200px;
  height: 500px;


}
.menuNgang {
}
#Menu {
    background-color: rgb(85, 47, 7);
    clear: both;
    height: 29px;
    border-top: solid 1px #dcdcdc;

}
#Header {

background-image:url("../Image/cropped-books_banner.jpg")}

#nav, #nav ul, #nav li {
  margin: 0;
  padding: 0;
  list-style: none;
    float: left;
}


 #nav span {
display: block;
cursor: pointer;
white-space: nowrap;
}


#nav a {
font: 12px/36px Tahoma;
color: #fff;
text-transform: uppercase;
}
#nav li {
position: relative;
text-align: left;
padding-left: 30px;
}

/*rightMenu*/


.leftMenuTop {
    margin-left: 3px;
    border: solid;
    height: 140px;
    width: 230px;
    border-color: #684626;
    border-radius: 10px;
    margin-top: 5px;
}

.leftMenuBottom {
    margin-left: 3px;
    border: solid;
    height: 185px;
    width: 230px;
   border-color: #684626;
    border-radius: 10px;
    margin-top: 5px;
}
.textbox {
    margin: 19px 0px 0px 30px;
    border-color: rgb(219, 159, 69);
     border-width: thin;
}
.submitSignin {
    margin: 20px 0px 0px 69px;
    height: 25px;
    width: 60px;
    color: white;
    border: none;
    background-color: rgb(162, 98, 38);
}
.categories {
     margin: 1px;
     padding: 1px 0px 2px;
     background-color: rgb(170, 95, 27);
     border-radius: 10px;
     color: white;
     text-align: center;
}
.listCategories {
    font-weight:bold;
    color:#294689
}
/*footer*/
.footer {
 background-color: #462015;
margin: 0 auto;
width: 99%;
height: 40px;
color: white;
border: solid 6px #F8F7F7;
text-align: center;
}
/*contain*/

#left {
    float:left;
    width: 30%;
}
#right {
    margin-top: 4px;
    float:right;
    width: 70%;
}
.contain {
    clear: both;
   width: 100%;
   min-height: 700px;
   background-color: white;
}

#rightContain {
   
}
.titleIndex {
     color: rgb(56, 41, 230);
     font-weight: bold;
     font-size: 18px;
}

/*detailBook*/
.border {
    margin-right: 5px;
    margin-left: -17px;
    margin-top: 6px;
    border: dotted 1px gray;
}
.titleBook {
    color: rgb(197, 24, 24);
font-weight: bold;
margin: 10px 0px 8px 10px;
}
.content {
    margin-left: 20px;
font-size: 11px;
padding-bottom: 5px;
}
 .content .right {
        margin-left: 63%;
    }