@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<link href="~/Content/Site.css" rel="stylesheet" />

 <div class="border">
       <div class="titleBook">
         Chiến lược Marketing Hoàn Hảo
     </div>
     <div class="content">
         	Default sẽ show ra tất cả sách (category “All”) theo tứ tự ngày phát hành.
         	Người dùng có thể chọn Category ở cột bên trái, sách thuộc category đó sẽ được 
            Default sẽ show ra tất cả sách (category “All”) theo tứ tự ngày phát hành.
         	Người dùng có thể chọn Category ở cột bên trái, sách thuộc category đó sẽ được 
            Default sẽ show ra tất cả sách (category “All”) theo tứ tự ngày phát hành.
         	Người dùng có thể chọn Category ở cột bên trái, sách thuộc category đó sẽ được 
             Default sẽ show ra tất cả sách (category “All”) theo tứ tự ngày phát hành.
            Default sẽ show ra tất cả sách (category “All”) theo tứ tự ngày phát hành.
             Default sẽ show ra tất cả sách (category “All”) theo tứ tự ngày phát hành.
             Default sẽ show ra tất cả sách (category “All”) theo tứ tự ngày phát hành.
             Default sẽ show ra tất cả sách (category “All”) theo tứ tự ngày phát hành.
            Default sẽ show ra tất cả sách (category “All”) theo tứ tự ngày phát hành.
             Default sẽ show ra tất cả sách (category “All”) theo tứ tự ngày phát hành.
         	Người dùng có thể chọn Category ở cột bên trái, sách thuộc category đó sẽ được 
         	Người dùng có thể chọn Category ở cột bên trái, sách thuộc category đó sẽ được 
         	Người dùng có thể chọn Category ở cột bên trái, sách thuộc category đó sẽ được 

         	Người dùng có thể chọn Category ở cột bên trái, sách thuộc category đó sẽ được 
         	Người dùng có thể chọn Category ở cột bên trái, sách thuộc category đó sẽ được 
         	Người dùng có thể chọn Category ở cột bên trái, sách thuộc category đó sẽ được 
         	Người dùng có thể chọn Category ở cột bên trái, sách thuộc category đó sẽ được 
         <div class="right">
             <p><b>Tác Giả : </b>Lê Thị Nga </p>
             <p><b>Ngày phát hành : </b>@DateTime.Now <br /></p>
         </div>
     </div>
   
 </div>

